<div ngbDropdown #myDrop="ngbDropdown">
  <div class="input-group">
    <input type="text"
           class="form-control"
           [ngClass]="{ 'is-invalid': invalid, 'not-editable': !editable, 'item-ok': disabled }"
           [ngModel]="selectedMonthString"
           readonly
           [disabled]="disabled"
           placeholder="{{'Month/Year' | translate}}">
    <div class="input-group-append">
      <button class="btn input-group-text" type="button"
              (click)="ngOnInit()"
              id="dropdownManual"
              [ngClass]="{ 'is-invalid': invalid, 'not-editable': !editable }"
              [disabled]="disabled"
              ngbDropdownToggle>
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </div>
    <div *ngIf="invalid" class="invalid-feedback">
      <div>{{errorMessage | translate}}</div>
    </div>
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <h3 class="title">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{'Select a month' | translate}}
    </h3>
    <button type="button" class="btn btn-sm btn-default btn-close" (click)="myDrop.close()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="month-picker-div">
      <button type="button" class="btn btn-link" (click)="previousMonth()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
      <select class="form-control months" [(ngModel)]="selectedMonth">
        <option *ngFor="let month of months; let idx = index" [value]="idx">
          {{month | translate}}
        </option>
      </select>
      <input type="number" class="form-control years" [min]="1900" [max]="currentDate.getFullYear() + 100"
             [(ngModel)]="selectedYear"
             [ngClass]="{ 'is-invalid': selectedYear < 1900 || selectedYear > currentDate.getFullYear() + 100 }">
      <button type="button" class="btn btn-link" (click)="nextMonth()">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
    <hr>
    <div class="btn-select-div">
      <button type="button" class="btn btn-success" (click)="$event.stopPropagation(); selectMonth(myDrop);"
              [disabled]="selectedYear < 1900 || selectedYear > currentDate.getFullYear() + 100">
        <i class="fa fa-check" aria-hidden="true"></i> {{'Select date' | translate}}
      </button>
      <button type="button" class="btn btn-default" (click)="myDrop.close()">
        <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
      </button>
    </div>
  </div>
</div>
