.dropdown-toggle::after {
    content: none;
}

.month-picker-div {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.month-picker-div .months {
    width: auto;
    margin-right: 10px;
}

.month-picker-div .years {
    min-width: 80px;
}

.btn-select-div {
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.btn-select-div .btn-success {
    margin-right: 10px;
}

.dropdown-menu {
    padding: 0px;
}

h3.title {
    font-size: 1.25rem;
    line-height: 2;
    margin-left: 10px;
    font-weight: 400;
}

h3.title i {
    color: #999999;
    width: 30px;
    text-align: center;
    font-weight: normal;
}

.is-invalid {
    border-color: #dc3545;
    border-radius: 0.25rem;
}

.input-group-append .btn.is-invalid {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

input[readonly] {
    background-color: #ffffff;
    pointer-events: none;
}

input[disabled] {
    background-color: #e9ecef;
}

.item-ok {
    font-style: italic;
    color: #cccccc !important;
}

