.login-card {
  max-width: 360px;
  margin: auto;
}

.login-logo {
  padding-top: 5%;
}

.login-body {
  height: fit-content;
}

.btn-login {
  margin-right: 5px;
  margin-left: 10px;
}

.btn i {
  color: inherit;
  width: 20px;
  text-align: inherit;
  font-weight: inherit;
}

.invalid-feedback {
  display: block;
}

/*body {*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  /*background-color: #f5f5f5;*/
/*}*/

/*.form-signin {*/
  /*width: 100%;*/
  /*max-width: 330px;*/
  /*padding: 15px;*/
  /*margin: auto;*/
/*}*/

/*.form-signin .checkbox {*/
  /*font-weight: 400;*/
/*}*/

/*.form-signin .form-control {*/
  /*position: relative;*/
  /*box-sizing: border-box;*/
  /*height: auto;*/
  /*padding: 10px;*/
  /*font-size: 16px;*/
/*}*/

/*.form-signin .form-control:focus {*/
  /*z-index: 2;*/
/*}*/

/*.form-signin input[type="email"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/

/*.form-signin input[type="password"] {*/
  /*margin-bottom: 10px;*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
/*}*/

.input-group-append-login {
  border-left: 1px solid #ced4da;
  text-align: center;
  display: block;
}

.input-group-text-login {
  width: 40px;
  display: block;
}
