<div class="text-center no-items" *ngIf="(!allItems || allItems.length == 0) && itemType === 'trip'">
    <i class="fa fa-info"></i> {{'No registered items' | translate}}
</div>
<div class="row" *ngIf="items && items.length > 0">
    <div class="col-lg-12">
        <h5 class="mb-3" [ngClass]="{ 'mt-4': itemType !== 'trip' || demo  }">
            <i *ngIf="itemType === 'trip'" class="fa fa-suitcase" aria-hidden="true"></i>
            <i *ngIf="itemType === 'budget'" class="fa fa-line-chart" aria-hidden="true"></i>
            <i *ngIf="itemType === 'flight'" class="fa fa-plane" aria-hidden="true"></i>
            <i *ngIf="itemType === 'accommodation'" class="fa fa-bed"></i>
            <i *ngIf="itemType === 'car'" class="fa fa-car"></i>
            <i *ngIf="itemType === 'ticket'" class="fa fa-ticket"></i>
            <i *ngIf="itemType === 'insurance'" class="fa fa-medkit" aria-hidden="true"></i>
            <i *ngIf="itemType === 'exchange'" class="fa fa-money" aria-hidden="true"></i>
            <i *ngIf="itemType === 'other'" class="fa fa-dollar"></i>
            {{itemLabel | translate}}
            <!-- <app-new-item *ngIf="itemType !== 'trip' && !demo" (loadAllItems)="loadAllItems()" -->
                        <!-- [itemType]="itemType"></app-new-item> -->
            <button *ngIf="itemType === 'trip' && !demo" class="btn btn-default btn-sm btn-config" (click)="reloadCards()" [ngbTooltip]="'Reload cards' | translate"><i class="fa fa-refresh"></i>{{'Reload cards' | translate}}</button>
        </h5>
        <div class="card collapseable {{!items || items.length == 0 ? 'collapsed-card' : ''}}" [ngClass]="{'no-items': !items || items.length == 0}" *ngIf="demo !== 'timeline'">
            <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="fa fa-list-ol"></i>
                        {{'Item list' | translate}}
                    </h3>
                    <div class="text-center no-items" *ngIf="!items || items.length == 0">
                        <i class="fa fa-info"></i> {{'No registered items' | translate}}
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                                ngbTooltip="{{'Collapse' | translate}}">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                                ngbTooltip="{{'Remove' | translate}}">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body collapseable p-0" *ngIf="items && items.length > 0">
                <span *ngIf="demo !== 'timeline'">
                    <div *ngIf="itemType === 'trip' && itemsIndex && itemsIndex.length > 0" class="list-container-trip">
                        <div class="row row-line row-header text-center row-odd m-0">
                            <div class="col-md-6">
                                {{'Item' | translate}}
                            </div>
                            <div class="col-md-3">
                                {{'Total' | translate}}
                            </div>
                            <div class="col-md-3">
                                {{'Percent' | translate}}
                            </div>
                        </div>

                        <div class="row row-line text-center m-0" *ngFor="let itemIndex of itemsIndex; let idx = index"
                            [ngClass]="{'row-odd': idx % 2 === 1}">
                            <div class="col-md-6">
                                {{capitalize(itemIndex) | translate}}
                            </div>
                            <div class="col-md-3">
                                {{itemsValueTotal[idx] | currency:'BRL':'symbol':'':'pt'}}
                            </div>
                            <div class="col-md-3">
                                {{ (itemsValueTotal[idx] / itemTotal) * 100 | number:'1.1-1' }}%
                            </div>
                        </div>
                    </div>
                </span>

                <span *ngIf="itemType !== 'trip'">
                    <div class="text-center no-items" *ngIf="!items || items.length == 0">
                        <i class="fa fa-info"></i> {{'No registered items' | translate}}
                    </div>

                    <div *ngIf="items && items.length > 0">
                        <div class="items-list-div row-header">
                            <div class="row-line index-div row-odd row-header">#</div>
                            <div class="row row-line row-header text-center m-0 row-odd item-list-row">
                            <div class="{{itemType === 'budget' ? 'col-md-4' : itemType === 'exchange' ? 'col-md-3' : 'col-md-5'}}">
                                {{itemType === 'exchange' ? ('Currency' | translate) : ('Item Name' | translate)}}
                                <span class="required">*</span>
                            </div>
                            <div class="{{itemType === 'exchange' ? 'col-md-2' : 'col-md-2'}}">
                                {{'Value' | translate}}
                                <span class="required">*</span>
                            </div>
                            <div *ngIf="itemType === 'exchange'" class="col-md-2">
                                {{'Exchange Value' | translate}}
                                <span class="required">*</span>
                            </div>
                            <div *ngIf="itemType === 'exchange'" class="col-md-2">
                                {{'Exchange Value Average' | translate}}
                            </div>
                            <div class="col-md-2" *ngIf="itemType !== 'exchange'">
                                {{'Times' | translate}}
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-3">
                                {{'Date' | translate}}
                            </div>
                            <div class="col-md-1" *ngIf="itemType === 'budget'">
                                {{'Item Ok' | translate}}
                            </div>
                        </div>
                            <div class="row-line button-div row-header row-odd"></div>
                        </div>

                        <app-item-list *ngFor="let item of items; let idx = index" [item]="item" [index]="idx" [items]="items"
                                    (loadAllItems)="loadAllItemTypes()"></app-item-list>

                    </div>
                </span>
            </div>

            <div class="card-footer collapseable" *ngIf="itemType === 'trip' || (items && items.length > 0)">
                <span *ngIf="demo !== 'timeline'">
                    <div class="row">
                        <div class="{{itemType === 'trip' ? 'col-md-2' : 'col-md-3'}}">
                            <div class="description-block border-right">
                                <h5 class="description-header">{{itemTotal | currency:'BRL':'symbol':'':'pt'}}</h5>
                                <span class="description-text">{{'Amount' | translate}}</span>
                            </div>
                        </div>
                        <div class="{{itemType === 'trip' ? 'col-md-2' : itemType === 'exchange' ? 'col-md-2' : 'col-md-3'}}">
                            <div class="description-block border-right">
                                <h5 class="description-header text-success">
                                    <i class="fa fa-caret-up"></i>
                                    {{itemOk | currency:'BRL':'symbol':'':'pt'}}
                                </h5>
                                <span class="description-text">{{'Payed amount' | translate}}</span>
                            </div>
                        </div>
                        <div class="{{itemType === 'trip' ? 'col-md-2' : itemType === 'exchange' ? 'col-md-2' : 'col-md-3'}}">
                            <div class="description-block border-right">
                                <h5 class="description-header text-warning">
                                    <i class="fa fa-caret-left"></i>
                                    {{itemCurrent | currency:'BRL':'symbol':'':'pt'}}
                                </h5>
                                <span class="description-text">{{'Current month amount' | translate}}</span>
                            </div>
                        </div>
                        <div class="{{itemType === 'trip' ? 'col-md-2' : itemType === 'exchange' ? 'col-md-2' : 'col-md-3'}}">
                            <div class="description-block {{ itemType === 'trip' || itemType === 'exchange' ? 'border-right' : ''}}">
                                <h5 class="description-header text-danger">
                                    <i class="fa fa-caret-down"></i>
                                    {{itemFuture | currency:'BRL':'symbol':'':'pt'}}
                                </h5>
                                <span class="description-text">{{'Pending amount' | translate}}</span>
                            </div>
                        </div>
                        <div *ngIf="itemType === 'trip'" class="col-md-2">
                            <div class="description-block border-right">
                                <h5 class="description-header text-info">
                                    <i class="fa fa-caret-right"></i>
                                    {{tripBudget | currency:'BRL':'symbol':'':'pt'}}
                                </h5>
                                <span class="description-text">{{'Total Budget' | translate}}</span>
                            </div>
                        </div>
                        <div *ngIf="itemType === 'trip'" class="col-md-2">
                            <div class="description-block">
                                <h5 class="description-header {{tripBudget < itemTotal ? 'text-danger' : 'text-success'}}">
                                    <i class="fa fa-caret-down" *ngIf="tripBudget < itemTotal"></i>
                                    <i class="fa fa-caret-up" *ngIf="tripBudget >= itemTotal"></i>
                                    {{tripBudget - itemTotal | currency:'BRL':'symbol':'':'pt'}}
                                </h5>
                                <span class="description-text">{{'Difference' | translate}}</span>
                            </div>
                        </div>
                        <div *ngIf="itemType === 'exchange'" class="col-md-3">
                            <div class="description-block">
                                <h5 class="description-header">{{exchangeAverage | currency:'BRL':'symbol':'':'pt'}}</h5>
                                <span class="description-text">{{'Exchange Average Value' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <app-chartjs *ngIf="loaded && itemType === 'trip' && items && items.length > 0 && (!demo || demo === 'main')"
                    [items]="items"
                    [itemsValueTotal] = "itemsValueTotal"
                    [itemsValuePayed] = "itemsValuePayed"
                    [itemsValueCurrent] = "itemsValueCurrent"
                    [itemsValuePending] = "itemsValuePending"
                    [itemsIndex] = "itemsIndex">
        </app-chartjs>

        <div class="card collapseable" *ngIf="items && items.length > 0 && (!demo || demo === 'timeline')">
            <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="fa fa-calendar"></i> {{'Timeline' | translate}}
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                                ngbTooltip="{{'Collapse' | translate}}">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                                ngbTooltip="{{'Remove' | translate}}">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 collapseable table-responsive" *ngIf="items && items.length > 0">
                <table class="table table-striped" id="tableTimeline" #tableTimeline>
                    <tr *ngFor="let item of items">
                        <td class="item-name-td" #itemName >
                            {{item.itemName | translate}}<br>
                            {{item.value | currency:'BRL':'symbol':'':'pt'}}
                        </td>
                        <td *ngFor="let date of dateInterval" class="item-td" [ngStyle]="{'width': arredondar((tableTimeline.offsetWidth - itemName.offsetWidth - 9) / dateInterval.length) + 'px'}">
                            <div class="{{getItemType(item, date)}} item" *ngIf="getItemType(item, date) === 'item-success'" [ngbTooltip]="(item.value / item.times | currency:'BRL':'symbol':'':'pt') + (' of ' | translate) + (item.value | currency:'BRL':'symbol':'':'pt')"><i class="fa fa-caret-up"></i><span> R$</span></div>
                            <div class="{{getItemType(item, date)}} item" *ngIf="getItemType(item, date) === 'item-danger'" [ngbTooltip]="(item.value / item.times | currency:'BRL':'symbol':'':'pt') + (' of ' | translate) + (item.value | currency:'BRL':'symbol':'':'pt')"><i class="fa fa-caret-down"></i><span> R$</span></div>
                            <div class="{{getItemType(item, date)}} item" *ngIf="getItemType(item, date) === 'item-warning'" [ngbTooltip]="(item.value / item.times | currency:'BRL':'symbol':'':'pt') + (' of ' | translate) + (item.value | currency:'BRL':'symbol':'':'pt')"><i class="fa fa-caret-left"></i><span> R$</span></div>
                        </td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="item-name-td item-date-td" #itemDate></td>
                        <td *ngFor="let date of dateInterval; let idx = index" class="item-td item-date-td" [ngStyle]="{'width': arredondar((tableTimeline.offsetWidth - itemDate.offsetWidth - 9) / dateInterval.length) + 'px'}">
                            {{date | date:'MMM/yy'}} <span *ngIf="date.getMonth() === this.currentMonth.getMonth() && date.getFullYear() === this.currentMonth.getFullYear()">*</span>
                            <div class="description-block">
                                <h5 *ngIf="date.getMonth() < this.currentMonth.getMonth()" class="text-success description-header"><i class="fa fa-caret-up"></i> {{totals[idx] | currency:'BRL':'symbol':'':'pt'}}</h5>
                                <h5 *ngIf="date.getMonth() === this.currentMonth.getMonth()" class="text-warning description-header"><i class="fa fa-caret-left"></i> {{totals[idx] | currency:'BRL':'symbol':'':'pt'}}</h5>
                                <h5 *ngIf="date.getMonth() > this.currentMonth.getMonth()" class="text-danger description-header"><i class="fa fa-caret-down"></i> {{totals[idx] | currency:'BRL':'symbol':'':'pt'}}</h5>
                            </div>
                        </td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer collapseable">
                <small class="legend float-right"><span class="current">*</span> {{'Current month' | translate}}</small>
                <small class="legend float-right"><span class="badge badge-success">&nbsp;</span> {{'Payed amount' | translate}}</small>
                <small class="legend float-right"><span class="badge badge-warning">&nbsp;</span> {{'Current month amount' | translate}}</small>
                <small class="legend float-right"><span class="badge badge-danger">&nbsp;</span> {{'Pending amount' | translate}}</small>
            </div>

        </div>
    </div>
</div>

<app-advertisement *ngIf="items && items.length > 0"></app-advertisement>

