.required {
  position: absolute;
  margin-left: 3px;
}

.item-td {
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  padding: 1px !important;
  min-width: 100px;
}

.item-date-td {
  text-align: center;
  /*border-collapse: collapse;*/
  text-transform: capitalize;
  /*font-weight: bold;*/
}

.item-name-td {
  text-align: center;
  width: 200px;
  /*border: 1px solid #eeeeee;*/
}

.item-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.item-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #ffffff;
}

.item-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

.item-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

.legend {
  margin-left: 15px;
  color: #999999;
}

.legend .badge {
  border-radius: 0px;
  margin-right: 5px;
}

.current {
  color: #212529;
}

.item {
  /*width: auto;*/
  margin-left: auto;
  margin-right: auto;
}

/*@media only screen and (max-width: 768px) {*/
  /*.item {*/
    /*width: 20px;*/
  /*}*/

  /*.item span {*/
    /*display: none;*/
  /*}*/
/*}*/


.card-body.p-0 .table tbody>tr>td:last-of-type,
.card-body.p-0 .table tbody>tr>th:last-of-type,
.card-body.p-0 .table thead>tr>td:last-of-type,
.card-body.p-0 .table thead>tr>th:last-of-type {
  padding: 1px !important;
}