<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }" class="alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa" aria-hidden="true" [ngClass]="{ 'fa-check-circle': message.type === 'success', 'fa-exclamation-triangle': message.type === 'error' }"></i> {{message.text | translate}}
</div>
