<!-- <button class="btn btn-default btn-sm btn-new" (click)="open(content)" [ngbTooltip]="('New' | translate) + ' ' + (itemType | translate)"> -->
  <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> {{itemType | translate}} -->
<!-- </button> -->

<!-- <a href="javascript:void(0);" (click)="open(content)" class="nav-link"> -->
    <!-- <i *ngIf="itemType === 'trip'" class="nav-icon fa fa-suitcase" aria-hidden="true"></i> -->
    <!-- <i *ngIf="itemType === 'budget'" class="nav-icon fa fa-line-chart" aria-hidden="true"></i> -->
    <!-- <i *ngIf="itemType === 'flight'" class="nav-icon fa fa-plane" aria-hidden="true"></i> -->
    <!-- <i *ngIf="itemType === 'accommodation'" class="nav-icon fa fa-bed"></i> -->
    <!-- <i *ngIf="itemType === 'car'" class="nav-icon fa fa-car"></i> -->
    <!-- <i *ngIf="itemType === 'ticket'" class="nav-icon fa fa-ticket"></i> -->
    <!-- <i *ngIf="itemType === 'insurance'" class="nav-icon fa fa-medkit" aria-hidden="true"></i> -->
    <!-- <i *ngIf="itemType === 'exchange'" class="nav-icon fa fa-money" aria-hidden="true"></i> -->
    <!-- <i *ngIf="itemType === 'other'" class="nav-icon fa fa-dollar"></i> -->
    <!-- <p class="ml-1 capitalize">{{itemType | translate}}</p> -->
<!-- </a> -->

<ng-template #content let-modal>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'New' | translate}} {{itemType | translate}}</h4>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div *ngIf="internalError" class="alert alert-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError | translate}}
        </div>

        <div class="row">
          <div class="{{itemType === 'exchange' ? 'col-md-3' : itemType === 'budget' ? 'col-md-3' : 'col-md-4'}}">
            <div class="form-group">
              <label for="itemName">
                {{itemType === 'exchange' ? ('Currency' | translate) : ('Item Name' | translate)}}
                <span class="required">*</span>
              </label>
              <div [ngClass]="{'item-name-div': itemType === 'exchange' && registerForm.get('selectedCurrency').value === 'Other'}">
                <select (change)="selectCurrency()" class="form-control" formControlName="selectedCurrency" *ngIf="itemType === 'exchange'" [ngClass]="{ 'is-invalid': submitted && itemType === 'exchange' && !registerForm.get('selectedCurrency').value }">
                  <option [ngValue]="null">{{'Select a currency' | translate}}</option>
                  <option *ngFor="let currency of currencyList; let idx = index" [value]="currency">
                    {{currency | translate}} ({{currencySymbolList[idx]}})
                  </option>
                </select>
                <div *ngIf="submitted && itemType === 'exchange' && !registerForm.get('selectedCurrency').value" class="invalid-feedback">
                  <div *ngIf="f.itemName.errors.required">{{'Currency is required' | translate}}</div>
                </div>
                <div>
                  <input type="text" id="itemName" formControlName="itemName" class="form-control"
                         placeholder="{{'Enter item name' | translate}}" required autofocus=""
                         [ngClass]="{ 'is-invalid': submitted && f.itemName.errors, 'item-name-input':  registerForm.get('selectedCurrency').value === 'Other'}" *ngIf="itemType !== 'exchange' || registerForm.get('selectedCurrency').value === 'Other'"/>
                  <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                    <div *ngIf="f.itemName.errors.required">{{'Item name is required' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="{{itemType === 'budget' ? 'col-md-2' : 'col-md-3'}}">
            <div class="form-group">
              <label for="value">
                {{'Value' | translate}}
                <span class="required">*</span>
              </label>
              <input type="text" id="value" formControlName="value" class="form-control"
                     placeholder="{{'Enter item value' | translate}}" required
                     [ngClass]="{ 'is-invalid': submitted && f.value.errors }"
                     currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
              <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                <div *ngIf="f.value.errors.required">{{'Item value is required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-2" *ngIf="itemType !== 'exchange'">
            <div class="form-group">
              <label for="times">
                {{'Times' | translate}}
                <span class="required">*</span>
              </label>
              <input type="number" [min]="1" id="times" formControlName="times" class="form-control"
                     placeholder="{{'Enter item times' | translate}}" required
                     [ngClass]="{ 'is-invalid': submitted && f.times.errors }"/>
              <div *ngIf="submitted && f.times.errors" class="invalid-feedback">
                <div *ngIf="f.times.errors.required">{{'Item times is required' | translate}}</div>
                <div *ngIf="f.times.errors.min">{{'Item times min is 1' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="itemType === 'exchange'">
            <div class="form-group">
              <label for="exchangeValue">
                {{'Exchange Value' | translate}}
                <span class="required">*</span>
              </label>
              <input type="text" id="exchangeValue" formControlName="exchangeValue" class="form-control"
                     placeholder="{{'Enter exchange value' | translate}}" required
                     [ngClass]="{ 'is-invalid': submitted && f.exchangeValue.errors }"
                     currencyMask [options]="{ prefix: (!currencyIndex ? '$' : currencySymbolList[currencyIndex]) + ' ', thousands: '.', decimal: ',' }"/>
              <div *ngIf="submitted && f.exchangeValue.errors" class="invalid-feedback">
                <div *ngIf="f.exchangeValue.errors.required">{{'Item exchange value is required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="itemDate">
                {{'Date' | translate}}
                <span class="required" *ngIf="itemType !== 'budget'">*</span>
              </label>
              <app-month-picker id="itemDate"
                                [editable]="true"
                                [date]="newItem.itemDate"
                                [disabled]="registerForm.get('itemOk').value"
                                [invalid]="submitted && !registerForm.get('itemOk').value && !newItem.itemDate"
                                [errorMessage]="itemType === 'budget' ? ('Date or checkbox is required' | translate) : ('Date is required' | translate)"
                                (selectMonthEmitter)="newItem.itemDate = $event;">
              </app-month-picker>
            </div>
          </div>
          <div class="col-md-2" *ngIf="itemType === 'budget'">
            <div class="form-group">
              <label for="itemOk">
                {{'Item Ok' | translate}}
              </label>
              <input type="checkbox" id="itemOk" formControlName="itemOk" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.itemOk.errors }"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cancel click')">
        <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
      </button>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
      </button>
    </div>
  </form>
</ng-template>
