<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-border">
        <h3 class="card-title advertisement">
          <i class="fa fa-dollar"></i>
          {{'Advertisement' | translate}}
        </h3>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-border">
        <h3 class="card-title advertisement">
          <i class="fa fa-dollar"></i>
          {{'Advertisement' | translate}}
        </h3>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>