<span *ngIf="currentUser || demo">
  <!-- Content Header (Page header) -->
  <div class="content-header" *ngIf="!demo">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            {{'All registered trips' | translate}}
          </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">{{'Home' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'All registered trips' | translate}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card collapseable">
              <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">
                    {{'All registered trips' | translate}}
                  </h3>
                  <div class="card-tools">
                    <app-new-trip *ngIf="!demo" (loadAllTrips)="loadAllTrips()"></app-new-trip>
                  </div>
                </div>
              </div>
              <div class="card-body collapseable p-0">

                <div class="text-center text-info no-items" *ngIf="!trips || trips.length == 0">
                  <i class="fa fa-info"></i> {{'No registered trips' | translate}}
                </div>

                <div *ngIf="trips && trips.length > 0">
                  <div class="items-list-div row-header">
                    <div class="row-line index-div row-odd row-header">#</div>
                    <div class="row row-line row-header text-center m-0 row-odd item-list-row">
                      <div class="col-md-4">
                        {{'Trip Name' | translate}}
                        <span class="required">*</span>
                      </div>
                      <div class="col-md-4">
                        {{'Start Date' | translate}}
                      </div>
                      <div class="col-md-4">
                        {{'End Date' | translate}}
                      </div>
                    </div>
                    <div class="row-line button-div-trips row-odd row-header"></div>
                  </div>
                  <app-trip-list *ngFor="let trip of trips; let idx = index" [trip]="trip" [index]="idx" [trips]="trips"
                                 (loadAllTrips)="loadAllTrips()"></app-trip-list>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-advertisement></app-advertisement>

      </div>
  </div>
</span>
