<div class="card collapseable">
  <div class="card-header no-border">
    <div class="d-flex justify-content-between">
      <h3 class="card-title">
        {{'Timeline' | translate}} - {{itemLabel| translate}}
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" ngbTooltip="{{'Collapse' | translate}}">
          <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" ngbTooltip="{{'Remove' | translate}}">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body collapseable">
    <span *ngIf="timelineItems && timelineItems.length > 0">
      <div class="container" *ngIf="timelineItems && timelineItems.length > 0">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div id="tracking">
              <div class="tracking-list">
                <div class="tracking-item" *ngFor="let timelineItem of timelineItems; let idx = index">
                  <div class="tracking-icon status-outfordelivery" *ngIf="!timelineItem.timelineItemOk">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <div class="tracking-icon status-delivered" *ngIf="timelineItem.timelineItemOk">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <div class="tracking-date">
                    {{!timelineItem.date || (itemType === 'budget' && timelineItem.timelineItemOk &&
                      timelineItem.date.getMonth() !== currentMonth) ? ('Item Ok' | translate) : (timelineItem.date | date:'MMMM/yyyy')}}
                    <span class="text-success" *ngIf="timelineItem.timelineItemOk"><i class="fa fa-caret-up"></i> {{timelineItem.value | currency:'BRL':'symbol':'':'pt'}} <small> ({{'Payed amount' | translate}})</small></span>
                    <span class="text-danger" *ngIf="!timelineItem.timelineItemOk"><i class="fa fa-caret-down"></i> {{timelineItem.value | currency:'BRL':'symbol':'':'pt'}} <small> ({{'Pending amount' | translate}})</small></span>
                  </div>
                  <div class="tracking-content">
                    <span>{{timelineItem.title | translate}}</span>
                    <ul [innerHTML]="timelineItem.description"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>