
#tracking {
  margin-bottom: 1rem
}

[class*=tracking-status-] p {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center
}

[class*=tracking-status-] {
  padding: 1.6rem 0
}

.tracking-list {
  border: 1px solid #e5e5e5;
}

.tracking-item {
  border-left: 1px solid #e5e5e5;
  position: relative;
  padding: 2rem 1.5rem .5rem 2.5rem;
  margin-left: 3rem;
  min-height: 5rem
}

.tracking-item:last-child {
  padding-bottom: 4rem
}

.tracking-item .tracking-date {
  margin-bottom: .5rem;
  text-transform: capitalize;
}

.tracking-item .tracking-date span {
  color: #888;
  font-size: 150%;
  padding-left: .4rem;
}

.tracking-item .tracking-content {
  padding: .5rem .8rem;
  background-color: #f4f4f4;
  border-radius: .5rem
}

.tracking-item .tracking-content span {
  display: block;
  color: #888;
  font-weight: bold;
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #fff
}

.tracking-item .tracking-icon.status-delivered {
  background-color: #28a745
}

.tracking-item .tracking-icon.status-outfordelivery {
  background-color: #dc3545
}

.tracking-item .tracking-icon.status-intransit {
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .tracking-item {
    margin-left: 2rem;
  }

  .tracking-content ul {
    padding-inline-start: 20px;
  }
}

small {
  font-size: 15px;
  font-style: italic;
  color: #999999;
}
