<div class="row">
    <div class="col-md-6">
        <div class="card collapseable">
            <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="fa fa-pie-chart"></i> {{'Items division' | translate}}
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" ngbTooltip="{{'Collapse' | translate}}">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" ngbTooltip="{{'Remove' | translate}}">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body collapseable">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [options]="doughuntOptions">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card collapseable">
            <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="fa fa-bar-chart"></i> {{'Money chart' | translate}}
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" ngbTooltip="{{'Collapse' | translate}}">
                            <i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" ngbTooltip="{{'Remove' | translate}}">
                            <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body collapseable">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>
