<ngx-ui-loader [fgsColor]="'#3c8dbc'" [pbColor]="'#3c8dbc'"></ngx-ui-loader>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/" class="nav-link">{{'Home' | translate}}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block" *ngIf="currentUser">
            <a routerLink="/trips" class="nav-link">{{'All registered trips' | translate}}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/about" class="nav-link">{{'About' | translate}}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/contact" class="nav-link">{{'Contact' | translate}}</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <!--<ul class="navbar-nav ml-auto">-->
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>-->
        <!--</li>-->
    <!--</ul>-->
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="min-height: 649px;">
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link">
        <img src="../assets/image/logo.png" alt="Logo" title="Gastos de viagem" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">{{'Trip Plan' | translate}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="currentUser">
            <div class="image">
                <img src="../assets/image/user-160x160.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/user/{{currentUser._id}}"
                   class="d-block">{{currentUser.firstName + ' ' + currentUser.lastName}}</a>
            </div>
            <div class="info">
                <a href="javascript:void(0);" (click)="logout()" class="d-block">
                    <i class="nav-icon fa fa-sign-out"></i>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngIf="!currentUser">
                    <a routerLink="/login" class="nav-link">
                        <i class="nav-icon fa fa-sign-in"></i>
                        <p>{{'Sign in' | translate}}</p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview" #tripsMenu *ngIf="currentUser">
                    <a href="javascript:void(0);" class="nav-link" #myTripsLink>
                        <i class="nav-icon fa fa-suitcase"></i>
                        <p>
                            {{'All registered trips' | translate}}
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngIf="!myTrips || myTrips.length == 0">
                            <span class="nav-link disabled-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>{{'No trips' | translate}}</p>
                            </span>
                        </li>
                        <li class="nav-item" *ngFor="let trip of myTrips">
                            <a routerLink="trip/{{trip._id}}" class="nav-link {{currentTrip && currentTrip._id === trip._id ? 'active' : ''}} ">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>{{trip.tripName}}</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <app-new-item #newItem class="nav-item" (loadAllItems)="loadAllItems()"></app-new-item>

                <li class="nav-item has-treeview mt-4" *ngIf="currentTrip && !demo">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-icon fa fa-plus-square-o"></i>
                        <p>
                            {{'Add item' | translate}}
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <!--<li class="nav-item">-->
                            <!--<a href="javascript:void(0);" class="nav-link" (click)="addItem('trip')">-->
                                <!--<i class="nav-icon fa fa-suitcase" aria-hidden="true"></i>-->
                                <!--<p class="ml-1">{{'Trip' | translate}}</p>-->
                            <!--</a>-->
                        <!--</li>-->

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('budget')">
                                <i class="nav-icon fa fa-line-chart" aria-hidden="true"></i>
                                <p class="ml-1">{{'Budget' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('flight')">
                                <i class="nav-icon fa fa-plane" aria-hidden="true"></i>
                                <p class="ml-1">{{'Flight' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('accommodation')">
                                <i class="nav-icon fa fa-bed" aria-hidden="true"></i>
                                <p class="ml-1">{{'Accommodation' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('car')">
                                <i class="nav-icon fa fa-car" aria-hidden="true"></i>
                                <p class="ml-1">{{'Car' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('ticket')">
                                <i class="nav-icon fa fa-ticket" aria-hidden="true"></i>
                                <p class="ml-1">{{'Ticket' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('insurance')">
                                <i class="nav-icon fa fa-medkit" aria-hidden="true"></i>
                                <p class="ml-1">{{'Insurance' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('exchange')">
                                <i class="nav-icon fa fa-money" aria-hidden="true"></i>
                                <p class="ml-1">{{'Exchange' | translate}}</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link" (click)="addItem('other')">
                                <i class="nav-icon fa fa-dollar" aria-hidden="true"></i>
                                <p class="ml-1">{{'Other' | translate}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 649px;">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
    </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <a class="footer-icon" href="javascript:void(0);" (click)="copy()" placement="left" ngbTooltip="{{'Cick to copy' | translate}}: contato@gastosdeviagem.com.br">
            <i class="fa fa-envelope"></i>
        </a>
        <a class="footer-icon" href="http://www.facebook.com/gastosdeviagem" target="_blank" ngbTooltip="{{'Facebook' | translate}}">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a class="footer-icon" href="http://instagram.com/gastosdeviagem" target="_blank" ngbTooltip="{{'Instagram' | translate}}">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright © 2019</strong> - {{'All rights reserved' | translate}}
</footer>
