<button class="btn btn-default btn-sm btn-new-trip" (click)="open(content)">
  <i class="fa fa-plus-square" aria-hidden="true"></i> {{'Trip' | translate}}
</button>

<ng-template #content let-modal>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'New trip' | translate}}</h4>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div *ngIf="internalError" class="alert alert-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError | translate}}
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="tripName">
                {{'Trip Name' | translate}}
                <span class="required">*</span>
              </label>
              <input type="text" id="tripName" formControlName="tripName" class="form-control"
                     placeholder="{{'Enter trip name' | translate}}" required autofocus=""
                     [ngClass]="{ 'is-invalid': submitted && f.tripName.errors }"/>
              <div *ngIf="submitted && f.tripName.errors" class="invalid-feedback">
                <div *ngIf="f.tripName.errors.required">{{'Trip Name is required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="tripDateStart">
                {{'Start Date' | translate}}
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="tripDateStart"
                       id="tripDateStart"
                       maxlength="10"
                       placeholder="{{'Insert start date' | translate}}"
                       name="tripDateStart"
                       (ngModelChange)="updateTripDate()"
                       ngbDatepicker
                       #tripDateStart="ngbDatepicker"
                       [startDate]="today"
                       [ngClass]="{ 'is-invalid': submitted && f.tripDateStart.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="tripDateStart.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.tripDateStart.errors }"
                          type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.tripDateStart.errors" class="invalid-feedback">
                  <div *ngIf="f.tripDateStart.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="tripDateEnd">
                {{'End Date' | translate}}
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="tripDateEnd"
                       id="tripDateEnd"
                       maxlength="10"
                       placeholder="{{'Insert end date' | translate}}"
                       name="tripDateEnd"
                       (ngModelChange)="updateTripDate()"
                       ngbDatepicker
                       #tripDateEnd="ngbDatepicker"
                       [minDate]="minDate"
                       [startDate]="tomorrow"
                       [ngClass]="{ 'is-invalid': submitted && f.tripDateEnd.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="tripDateEnd.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.tripDateEnd.errors }"
                          type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.tripDateEnd.errors" class="invalid-feedback">
                  <div *ngIf="f.tripDateEnd.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cancel click')">
        <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
      </button>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
      </button>
    </div>
  </form>
</ng-template>
