<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid" *ngIf="!demo && currentTrip">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                    {{currentTrip.tripName}}
                    <div class="trip-date"
                         *ngIf="currentTrip.tripDateStart || currentTrip.tripDateEnd">
                        {{currentTrip.tripDateStart | date: 'dd/MM/yyyy'}}
                        <span *ngIf="currentTrip.tripDateEnd">
                                {{'to' | translate}} {{currentTrip.tripDateEnd | date: 'dd/MM/yyyy'}}
                            </span>
                    </div>
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">{{'Home' | translate}}</a></li>
                    <li class="breadcrumb-item"><a routerLink="/trips">{{'All registered trips' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{currentTrip.tripName}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content" *ngIf="currentTrip">
    <div class="container-fluid">
        <app-items *ngIf="!demo || demo === 'main'" [allItems]="allItems" #tripItems
                   (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'My trip'" [itemType]="'trip'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'budget'" #budgetItems (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'Budget'" [itemType]="'budget'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'flight'" #flightItems (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'Flight'" [itemType]="'flight'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'accommodation'" #accommodationItems
                   (loadAllItemsTypesEmitter)="loadCurrentTrip()" [itemLabel]="'Accommodation'"
                   [itemType]="'accommodation'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'car'" #carItems (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'Car'" [itemType]="'car'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'ticket'" #ticketItems (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'Ticket'" [itemType]="'ticket'" [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'insurance'" #insuranceItems
                   (loadAllItemsTypesEmitter)="loadCurrentTrip()" [itemLabel]="'Insurance'" [itemType]="'insurance'"
                   [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'exchange'" #exchangeItems
                   (loadAllItemsTypesEmitter)="loadCurrentTrip()" [itemLabel]="'Exchange'" [itemType]="'exchange'"
                   [demo]="demo"></app-items>
        <app-items *ngIf="!demo || demo === 'other'" #otherItems (loadAllItemsTypesEmitter)="loadCurrentTrip()"
                   [itemLabel]="'Others'" [itemType]="'other'" [demo]="demo"></app-items>
        <app-items *ngIf="demo === 'timeline'" #timelineItems
                   [itemLabel]="'Trip'" [itemType]="'trip'" [demo]="demo"></app-items>
        <app-note *ngIf="!demo || demo === 'note'" #note [demo]="demo"></app-note>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
