<form [formGroup]="registerForm" *ngIf="item">
  <div class="items-list-div">
    <div class="row-line index-div" [ngClass]="{'row-odd': index % 2 === 1}">{{index + 1}}</div>
    <div class="row row-line m-0 item-list-row" [ngClass]="{'row-odd': index % 2 === 1}">

      <div *ngIf="internalError" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError | translate}}
      </div>

      <div class="{{item.itemType === 'budget' ? 'col-md-4' : item.itemType === 'exchange' ? 'col-md-3' : 'col-md-5'}}">
        <div class="form-group">
          <div [ngClass]="{'item-name-div': item.itemType === 'exchange' && registerForm.get('selectedCurrency').value === 'Other'}">
          <label class="small-label">{{item.itemType === 'exchange' ? ('Currency' | translate) : ('Item Name' | translate)}}
            <span class="required">*</span>
          </label>
            <select (change)="selectCurrency()" class="form-control" formControlName="selectedCurrency" *ngIf="item.itemType === 'exchange' && editable" [ngClass]="{ 'is-invalid': submitted && item.itemType === 'exchange' && !registerForm.get('selectedCurrency').value }">
              <option [ngValue]="null">{{'Select a currency' | translate}}</option>
              <option *ngFor="let currency of currencyList; let idx = index" [value]="currency">
                {{currency | translate}} ({{currencySymbolList[idx]}})
              </option>
            </select>
            <div *ngIf="submitted && item.itemType === 'exchange' && !registerForm.get('selectedCurrency').value" class="invalid-feedback">
              <div *ngIf="f.itemName.errors.required">{{'Currency is required' | translate}}</div>
            </div>
            <div>
              <input type="text" id="itemName" formControlName="itemName" class="form-control"
                     placeholder="{{'Enter item name' | translate}}" required
                     [ngClass]="{ 'is-invalid': submitted && f.itemName.errors, 'item-name-input':  registerForm.get('selectedCurrency').value === 'Other', 'not-editable': !editable}" *ngIf="item.itemType !== 'exchange' || (registerForm.get('selectedCurrency').value === 'Other' && editable) || (item.itemType === 'exchange' && !editable)"/>
              <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                <div *ngIf="f.itemName.errors.required">{{'Item name is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="{{item.itemType === 'exchange' ? 'col-md-2' : 'col-md-2'}}">
        <div class="form-group">
        <label class="small-label">
          {{'Value' | translate}}
          <span class="required">*</span>
        </label>
          <input type="text" id="value" formControlName="value" class="form-control"
                 placeholder="{{'Enter item value' | translate}}" required
                 [ngClass]="{ 'is-invalid': submitted && f.value.errors, 'not-editable': !editable }"
                 currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
          <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
            <div *ngIf="f.value.errors.required">{{'Item value is required' | translate}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="item.itemType === 'exchange'" class="col-md-2">
        <div class="form-group">
        <label class="small-label">
          {{'Exchange Value' | translate}}
          <span class="required">*</span>
        </label>
          <input type="text" id="exchangeValue" formControlName="exchangeValue" class="form-control"
                 placeholder="{{'Enter exchange value' | translate}}" required
                 [ngClass]="{ 'is-invalid': submitted && f.exchangeValue.errors, 'not-editable': !editable }"
                 currencyMask [options]="{ prefix: (!currencyIndex ? '$' : currencySymbolList[currencyIndex]) + ' ', thousands: '.', decimal: ',' }"/>
          <div *ngIf="submitted && f.exchangeValue.errors" class="invalid-feedback">
            <div *ngIf="f.exchangeValue.errors.required">{{'Item exchange value is required' | translate}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="item.itemType === 'exchange'" class="col-md-2">
        <div class="form-group">
        <label class="small-label">
          {{'Exchange Value Average' | translate}}
        </label>
          <input type="text" class="form-control text-right" readonly [ngClass]="{'not-editable': !editable}"
                 [value]="item.value / item.exchangeValue | currency:'BRL':'symbol':'':'pt'">
        </div>
      </div>
      <div class="col-md-2" *ngIf="item.itemType !== 'exchange'">
        <div class="form-group">
        <label class="small-label">
          {{'Times' | translate}}
          <span class="required">*</span>
        </label>
          <input type="number" [min]="1" id="times" formControlName="times" class="form-control"
                 placeholder="{{'Enter item times' | translate}}" required
                 [ngClass]="{ 'is-invalid': submitted && f.times.errors, 'not-editable': !editable }"/>
          <div *ngIf="submitted && f.times.errors" class="invalid-feedback">
            <div *ngIf="f.times.errors.required">{{'Item times is required' | translate}}</div>
            <div *ngIf="f.times.errors.min">{{'Item times min is 1' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
        <label class="small-label">
          {{'Date' | translate}}
        </label>
          <app-month-picker id="itemDate"
                            [editable]="editable"
                            [date]="item.itemDate"
                            [disabled]="registerForm.get('itemOk').value"
                            [invalid]="submitted && !registerForm.get('itemOk').value && !item.itemDate"
                            [errorMessage]="item.itemType === 'budget' ? ('Date or checkbox is required' | translate) : ('Date is required' | translate)"
                            (selectMonthEmitter)="item.itemDate = $event">
          </app-month-picker>
        </div>
      </div>
      <div class="col-md-1" *ngIf="item.itemType === 'budget'">
        <div class="form-group">
        <label class="small-label">
          {{'Item Ok' | translate}}
        </label>
          <input type="checkbox" id="itemOk" formControlName="itemOk" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.itemOk.errors }" *ngIf="editable"/>
          <input class="form-control" *ngIf="!editable && registerForm.get('itemOk').value" value="{{'Yes' | translate}}" [ngClass]="{'not-editable': !editable}"/>
          <input class="form-control" *ngIf="!editable && !registerForm.get('itemOk').value" value="{{'No' | translate}}" [ngClass]="{'not-editable': !editable}"/>
        </div>
      </div>
    </div>
    <div class="row-line button-div" [ngClass]="{'row-odd': index % 2 === 1}">
      <div class="form-group text-center">
        <span *ngIf="updating">
          <img class="pl-3"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </span>
        <span *ngIf="!updating">
          <button class="btn btn-primary btn-small" ngbTooltip="{{'Edit' | translate}}" *ngIf="!editable"
                  (click)="startEditing()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button"
                  class="btn btn-danger btn-small"
                  mwlConfirmationPopover
                  [title]="'Delete' | translate"
                  [popoverTitle]="'Delete' | translate"
                  [popoverMessage]="'Delete item?' | translate"
                  [placement]="'top'"
                  (confirm)="deleteItem(item._id)"
                  confirmButtonType="danger"
                  confirmText="<i class='fa fa-check' aria-hidden='true'></i> {{'Yes' | translate}}"
                  cancelButtonType="default"
                  cancelText="<i class='fa fa-ban' aria-hidden='true'></i> {{'No' | translate}}"
                  [appendToBody]="true"
                  ngbTooltip="{{'Delete item' | translate}}"
                  placement="top"
                  *ngIf="!editable">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success btn-small" ngbTooltip="{{'Save' | translate}}" *ngIf="editable"
                  (click)="updateItem()" [disabled]="!registerForm.dirty">
            <i class="fa fa-save" aria-hidden="true"></i>
          </button>
          <button class="btn btn-default btn-small" ngbTooltip="{{'Cancel' | translate}}" *ngIf="editable"
                  (click)="cancelEditing()">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</form>
