/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "assets/css/AdminLTE.min.css";

.index-div {
    text-align: center;
    padding-top: 20px !important;
    width: 65px;
}

.button-div {
    width: 140px;
    border-top: 1px solid #dee2e6;
}

.button-div-trips {
    width: 204px;
    border-top: 1px solid #dee2e6;
}

.button-div .btn,
.button-div-trips .btn {
    margin-left: 3px;
    margin-right: 3px;
}

.row-odd {
    background-color: rgba(0, 0, 0, .05);
}

.row-header {
    font-weight: bold;
}

.row-line {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.no-items {
    margin-bottom: 15px;
}

.items-list-div {
    display: inline-flex;
    width: 100%;
}

.item-list-row {
    width: inherit;
}

.not-editable {
    border: none !important;
    background: none !important;
    /*color: #212529 !important;*/
    pointer-events: none;
    text-align: center !important;
}

button.not-editable {
    display: none;
}

.required {
    color: #dc3545;
}

.card-title i {
    color: #adb5bd;
    width: 30px;
    text-align: center;
    font-weight: normal;
}

h5 i {
    width: 30px;
    text-align: center;
    font-weight: normal;
}

.trip-date {
    color: #999999;
    font-size: 15px;
}

input[type='checkbox'] {
    height: 20px;
    margin-top: 8px;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 5px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.btn i {
    color: inherit;
    width: initial;
    text-align: inherit;
    font-weight: inherit;
}

.btn-new {
    text-transform: capitalize;
    min-width: 120px;
    float: right;
}

.btn-new-trip {
    text-transform: capitalize;
    min-width: 120px;
}

.capitalize {
    text-transform: capitalize;
}

.btn-config {
    margin-left: auto;
    min-width: 120px;
    float: right;
}

.btn-new i, .btn-config i {
    padding-right: 5px;
}

.footer-icon i {
    color: #555555;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

.main-footer .float-right {
    margin-right: 20px;
}

.tooltip-inner {
    max-width: 250px;
}

.value:before {
    content: "-";
    padding-right: 10px;
    color: #999999;
}

.value {
    margin-left: 5px;
}

.times {
    font-style: italic;
    color: #999999;
    padding-left: 5px;
    padding-right: 5px;
}

.no-items {
    opacity: .5;
}

.is-invalid {
    border-color: #dc3545;
}

.btn-small {
    width: 42px;
}

.advertisement {
    background-color: rgba(0, 0, 0, .05);
    text-align: center;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
}

.alert {
    position: absolute;
    top: 70px;
    right: 10px;
}

.small-label {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .small-label {
        display: inline-block !important;
        margin-bottom: 0px;
    }

    .tab-label {
        display: none !important;
    }

    .nav-tabs .nav-item .nav-link {
        padding: 0.7rem;
    }

    .nav-link-name:after {
        display: none;
    }

    .row-header, .index-div {
        display: none !important;
    }

    .form-control.not-editable {
        border: 1px solid #cccccc !important;
        border-radius: .25rem !important;
        margin-bottom: 5px;
    }

    .button-div-trips, .button-div {
        width: 100%;
        margin: 0px;
        padding: 5px;
        border-top: none;
    }

    .button-div-trips button, .button-div button {
        margin-left: 3px !important;
        margin-right: 3px !important;
    }

    .tab-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .button-div-trips .btn, .button-div .btn {
        margin: 0px;
        margin-bottom: 5px;
    }

    .border-right {
        border-right: none !important;
    }

    .items-list-div {
        display: block;
        width: 100%;
    }

}

.btn-tool {
    margin-left: 5px;
}

.disabled-link {
    font-style: italic;
    opacity: 0.3;
}
