<div class="demo-container row-odd" *ngIf="trips && trips.length > 0 && loaded">
    <div>
        <h1 class="text-center">{{'Trips home' | translate}}</h1>
        <app-trips [demo]="true"></app-trips>
    </div>
</div>
<div class="demo-container" *ngIf="loaded">
    <div>
        <h2>{{'Main home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'main'"></app-trip>
    </div>
</div>
<div class="demo-container row-odd" *ngIf="loaded">
    <div>
        <h2>{{'Budget home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'budget'"></app-trip>
    </div>
</div>
<div class="demo-container" *ngIf="loaded">
    <div>
        <h2>{{'Accommodation home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'accommodation'"></app-trip>
    </div>
</div>
<div class="demo-container row-odd" *ngIf="loaded">
    <div>
        <h2>{{'Exchange home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'exchange'"></app-trip>
    </div>
</div>
<div class="demo-container" *ngIf="loaded">
    <div>
        <h2>{{'Other home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'other'"></app-trip>
    </div>
</div>
<div class="demo-container row-odd" *ngIf="loaded">
    <div>
        <h2>{{'Timeline home' | translate}}</h2>
        <app-trip [currentTrip]="currentTrip" [allItems]="allItems" [demo]="'timeline'"></app-trip>
    </div>
</div>
