.demo-container {
    padding-top: 20px;
    padding-bottom: 80px;
    /*pointer-events: none;*/
    /* opacity: 0.75; */
}

h1 {
    padding: 40px;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 40px;
}

.demo-container >>> .btn {
    pointer-events: none;
}

.demo-container >>> .content-header {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .demo-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 60px;
    }

    .demo-container > .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}
